body{
    background-color: blueviolet;
    color: white;
    margin-top: 100px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li{
    display: inline-block;
}

button{
    padding: 40px;
    font-size: 20px;
}

.pressed{
    box-shadow: 0px 3px 2px 0px rgb(53, 53, 53);
    opacity: 0.5;
}